<main class="content mx-auto my-52 border-2 shadow-lg w-80 p-2 rounded-3xl" role="main">
  <div class="p-4">
    <div class="flex items-center justify-between mb-4">
      <h1 class="text-2xl font-bold">Task Manager</h1>
      <span>({{store.completedTodos().length        }} / {{store.todos().length}})</span>
    </div>

    <!-- Task Input -->
    <form (ngSubmit)="submitNewTodo()" class="mb-4 w-full flex">
      <input [(ngModel)]="newTodoTitle" name="newTodoTitle" requiblue class="p-2 border rounded-full mr-2" placeholder="New task..." />
      <button type="submit" [disabled]="!newTodoTitle()" class="w-20 rounded-full bg-blue-500 text-white border border-blue-500 hover:bg-white hover:text-blue-500 transition ease-in-out duration-300">Add</button>
    </form>

    <!-- Task List -->
    <ul>
      @for (task of store.filteredTodos(); track $index) {
      <li (click)="store.toggleTodo(task.id)" class="mb-2 flex gap-4 items-center cursor-pointer hover:opacity-70">
        <input type="checkbox" [checked]="task.completed" />
        <span [ngClass]="{'line-through': task.completed}">{{ task.title }}</span>
      </li>
      }
    </ul>

    <!-- Filters -->
    <div class="mt-4 flex w-full justify-center">
      <button [class.btn-primary]="store.filter() == 'all'" (click)="store.changeFilter('all')" class="p-2 rounded-full w-28 mr-2 text-blue-500 border border-blue-500 bg-white hover:bg-blue-500 hover:text-white transition ease-in-out duration-300">All</button>
      <button [class.btn-primary]="store.filter() == 'active'" (click)="store.changeFilter('active')" class="p-2 rounded-full w-28 mr-2 text-blue-500 border border-blue-500 bg-white hover:bg-blue-500 hover:text-white transition ease-in-out duration-300">Active</button>
      <button [class.btn-primary]="store.filter() == 'completed'" (click)="store.changeFilter('completed')" class="p-2 rounded-full w-28 text-blue-500 border border-blue-500 bg-white hover:bg-blue-500 hover:text-white transition ease-in-out duration-300">Completed</button>
    </div>
  </div>
</main>
<app-snackbar>
  Congratulation!! You Completed all your Tasks.
</app-snackbar>